.chatMessageWith {
    float: left;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #000000;

    display: flex;
    align-items: center;


}

.mid-col {
    background-image: url(../pics/bgs/mainbgHalfed.jpg);
}

.chatMessage {
    float: left;
    // height: calc(100% - 70px - 61px - 120px);
    width: 100%;
    //background-color: rgb(33, 48, 64);
    background-image: url(../pics/bgs/mainbgHalfe d.jpg)
}

.singleMessageSideCol {
    width: 15%;
    float: left;
    background-color: rgba(255, 255, 255, 0.13);
}

.chatMessagePfp {
    float: left;
    width: 40px;
    height: 40px;
    background-size: cover;
    padding: 5px;
    margin-left: 30px;
    border-radius: 50%;
    border: 1px solid #000000;
}

.chatMessagePfp img {
    float: left;
    width: 50px;

}


.chatMessage {
    float: left;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #000000;
    /*
    display: flex;
    align-items: center;
*/
}



.chatMessageButton {
    float: left;
    width: 30px;
    height: 30px;
    background-size: cover;
    padding: 5px;
    margin-left: 20px;
    border-radius: 50%;

}

.chatMessageButton img {
    float: left;
    width: 40px;
}

.chatMessageButton:hover {
    cursor: pointer;

    transition: 4s;
    border: 1px solid black;
}

.chatMessageUser {
    float: left;
    color: aliceblue;
    margin-left: 20px;
    //padding: 15px;
    font-size: 23px;
    font-weight: bold;
}


#chatWith {
    /*
    ttps://www.sliderrevolution.com/resources/css-animated-background/
    */
    // background-color: rgba(102, 51, 153, 0.4);
    //background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: linear-gradient(-45deg,
            rgba(133, 92, 245, 0.53),
            rgba(72, 116, 214, 0.56),
            rgba(35, 166, 213, 0.54), rgba(80, 120, 196, 0.53));

    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.texterForm {
    backgro und-color: red;
    margin: 11% auto auto auto;

}

.singleMessageMidCol {
    width: 70%;
    background-color: rgba(188, 227, 214, 0.05);
    float: left;


}

.singleMessage {
    // background-color: rgba(192, 159, 199, 0);
    height: auto;
    float: left;
    width: 100%;
    margin: 2px 0px;
}


.singleMessagePfp {
    width: 50px;
    height: 50px;
    margin: auto;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.singleMessageUsername {
    font-weight: 600;
    line-height: 1em;

}

.singleMessageText {
    margin-top: 3px;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.4em;
    //word-wrap: normal;

     overflow-wrap: break-word;
    //word-wrap: break-word;
}

.singleMessageDate {
    height: auto;
    text-align: center;

    /*
     display: flex;
    align-items: center;
*/
    color: #9f9f9f;
    // margin-left: 10px;
    //  margin-top: 10px;
    font-size: 0.8em;
    margin: 0% 10px 0px 10px;

}

.messageInterface {
    height: 115px;
    width: 100%;
    float: left;

    border-top: 1px solid rgba(79, 115, 234, 0.76);
    //background-color: a qua;
    background: linear-gradient(-45deg,
            rgba(133, 92, 245, 0.42),
            rgba(72, 116, 214, 0.4),
            rgba(67, 75, 168, 0.31), rgba(80, 120, 196, 0.33));

    background-size: 400% 400%;
    animation: gradient2 30s ease infinite;
}

@keyframes gradient2 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.singleMessageTexterSideCol {
    width: 15%;
    float: left;
    height: 100%;
    background-color: aquamarin e;
    display: flex;
    align-items: center;
}

.singleMessageTexterMidCol {
    width: 70%;
    float: left;
}

.texterInput {
    background-color: rgba(0, 255, 255, 0.15);
    width: 100%;
    height: 4em;
    margin-top: 15px;
    resize: none;
    font-size: 0.9em;
}



.singleMessageTexterPfp {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10% auto auto auto;

    background-size: cover;

}

.singleMessageTexterButton {
    width: 80px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 13% auto auto auto;
    cursor: pointer;
    background-size: cover;
}

iframe {

    // background-color: red;
    width: 100%;
    //max-width: 500px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 800px;
}

#messagesFrame {
    //background-color: red;
    width: 100%;
    overflow: hidden;
}

body {
    // overflow: hidden;
}

#deleteMessage {
    // margin-bottom: -10px;
    height: 5px;
    transition-duration: 0.3s;
}

#deleteMessage:hover {
    height: 7px;
}

#deleteMessage input[type=image] {
    height: auto;
    text-align: center;
    color: #9f9f9f;
    // margin-left: 10px;
    // margin-top: 10px;
    font-size: 0.8em;
    //margin: -0px 0px -10px 0px;
}
