.searcherBox {
    background-color: #365a5a;
    width: calc(100% - 40px);
    float: left;
    height: 49px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
}

.searcherBox input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 50px;
    color: white;
    padding: 0px 20px;
    font-size: 1.4em;
    outline: none;
    background-color: rgb(52, 61, 111);
}

.chatBox {
    float: left;
    width: 100%;
    height: 60px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
}

.chatBox:hover {
    height: 61px;
    border: 1px solid rgba(211, 196, 196, 0.43);
    opacity: 0.8;
    font-size: 1.1em;
}

.chatBoxPfp {
    float: left;
    width: 40px;
    height: 40px;
    background-size: cover;
    padding: 5px;
    margin-left: 20px;
    border-radius: 50%;
}

.chatBoxPfp img {
    float: left;
    width: 50px;
}

.chatBoxUser {
    float: left;
    min-width: 250px;
    width: 100%;
    color: aliceblue;
    margin-left: 20px;
    //padding: 15px;
    font-size: 23px;
    font-weight: bold;
}

.chatBoxUser:hover {
    //font-size: 1.1em;
    color: rgb(216, 191, 232);
}

.chatBoxDelete {
    width: 65%;
    background-color: pal eturquoise;
    float: left;
    color: aliceblue;
    //margin-left: 20px;
    //padding: 15px;
    font-size: 23px;
    font-weight: bold;
}

#submitImageDelete {
    margin-right: 40px;
    float: right;
    height: 35px;
    z-index: 1;
}

#chatBoxError {
    background-color: rgba(216, 107, 230, 0.57);
    height: 30px;
}

#errorMessage {
    font-size: 0.8em;
    text-align: center;
    color: rgb(0, 0, 0);
    //background-color: rgba(157, 142, 144, 0.65);
    width: auto;
    margin: auto;
}

#chatBoxDeleteImg {
    float: right;
    height: 35px;
    z-index: 1;
    opacity: 0.2;
}

#submitImageDelete{
   //  cursor: pointer;
    opacity: 0.2;

}

#submitImageDelete:hover{
     cursor: pointer;
    opacity: 1;

}

#chatBoxDeleteImg:hover {
    cursor: pointer;

    opacity: 0.2;
}

#chatBoxBg1 {
    background-color: rgba(88, 121, 131, 0.69);
}

#chatBox1:hover {}

#chatBoxBg2 {
    background-color: rgba(52, 75, 82, 0.67);
}


.header {
    height: 69px;
    width: 100%;
    background-color: rgb(38, 61, 85);
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    // border-bottom: 1px solid;
}

.menu-button {
    width: 70px;
    height: 70px;
    position: relative;
    margin-left: 40px;
    float: inherit;
}

.menu-button img {
    width: 40px;
    float: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerButton {}

.title {
    margin-left: 0px;
    float: inherit;
    color: aliceblue;
    font-size: 36px;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
}

.edit {
    float: left;
    height: calc( 100% - 70px);
    width: 100%;
    background-color: rgb(33, 48, 64);
}

.chatList {
    float: left;
    height: calc( 100% - 70px - 50px);
    width: 100%;
    background-color: rgb(33, 48, 64);
}

.profileEdit {
    background-color: rgb(33, 48, 64);
    width: 100%;
    height: 100%;
}

.profilePicture {
    width: 40%;
    //min-width: 350px;
    //min-height: 350px;
    height: 40%;
    //border-radius: 50%;
    float: left;
    margin: auto;
    background-size: cover;
    background-position: 50% 50%;
    float: left;
}

.datas {
    float: left;
    width: 100%;
    //margin-top: -50px;
}

.picturesDiv {
    height: 300px;
}

.profilePictureSideFiller {
    width: 30%;
    height: 40%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureFunctions {
    width: 55px;
    opacity: 0.15;
}

.pictureFunctions:hover {
    opacity: 1;
    cursor: pointer;
}

.profileInfo {
    width: 80%;
    line-height: 2em;
    margin: auto;
    margin-top: 40px;
}

.profileData {
    font-size: 1em;
}

.submit {
    display: block;
    text-align: center;
}

.logout {
    //position: absolute;
    float: right;
    margin-right: 40px;
    margin-top: -50px;
}

#logoutButton {
    background-color: rgb(230, 20, 20);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: 0.2;
    color: whitesmoke;
}

#logoutButton:hover {
    opacity: 1;
    transform: scale(1.2);
    transition-duration: 0.4s;
}

#profileDataHead {
    font-weight: 600;
    color: #878585;
    font-size: 1.1em;
    margin-top: 15px;
}

#profileDataValue {}

#profileData {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    color: white;
    font-weight: bold;
    width: auto;
    height: 40px;
    color: white;
    font-size: 1.4em;
    outline: none;
    background-color: rgba(245, 222, 179, 0);
}

#profileDataLink {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 1.2em;
    outline: none;
    background-color: rgba(245, 222, 179, 0);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.newEdit {
    width: 100%;
    background-color: antiquewhite;
    float: left;
}

///////////////////////
