@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.form-container{
    width: 80%;
    margin: auto;
    /*background: url(/pics/mainbgBlured.jpg);*/
    height: 60%;
    margin-top: 15%;

}

#form-h2{
    text-align: center;

}

.form
{
    margin-top: 200px;
    display: block;
    text-align: center;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#form-input{
    background-color: #c8efff;
    font-size: 20px;
    width: 370px;
    font-weight: 500;
    height: 50px;
    margin: auto;
    padding: 0px 20px;
}



.btn-container{
    text-align: center;
}

a{
    text-decoration: none;
    color: #343331;
    font-weight: 500;
    font-size: 24px;
}

a:hover{
    color: rgba(181, 126, 24, 0.9);
}

#signupError{
    color: #e24040;
}

#signupSuccess{
    color: green;
}
