@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin:  0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    min-width: 800px;
    max-height: 100vh;

}

.mid-col{
    min-width: 800px;
    width: 60%;
    float: left;
    height: 100vh;
    background-color: ant iquewhite
}

.mid-col-log{
    width: 60%;
    float: left;
    height: 100vh;
    background-image:url(../pics/bgs/mainbgBlured.jpg);
}

.side-col{
    background-color: azure;
    width: 20%;
    float: left;
    height: 100vh;
}

#submit{
    width: 200px;
    height: 45px;
    margin: auto;
    font-weight: 600;
/*    background-color: #b8e3f5;*/
    background-color: rgba(184, 227, 245, 0);
    font-size: 20px;
    border-radius: 20px;
}

#submitEdit{
    width: 200px;
    height: 45px;
    margin: auto;
    font-weight: 600;
/*    background-color: #b8e3f5;*/
    background-color: #C4C4C4;
    font-size: 20px;
    border-radius: 20px;
}

#submit:hover,#submitEdit:hover{
/*    background-color: rgba(55, 82, 235, 0.36);*/
   background-color: #b8e3f5;
    transition-duration: 0.6s;

}
