.text-field {
    -fx-background-color: #c7ced7;
    -fx-border-color: #18191a;
    -fx-border-width: 1 0 1 0;
    -fx-font-size: 14;
    -fx-prompt-text-fill: #5a5f66;
    -fx-text-fill: #18191a;
}

.chat-list-row {
    -fx-background-color: #8995a3;
    -fx-border-color: #18191a;
    -fx-border-width: 1 0 1 0;
}

.chat-list-row:hover {
    -fx-background-color: #07415f;
}

.chat-list-row-notes {
    -fx-background-color: #64836d;
    -fx-border-color: #18191a;
    -fx-border-width: 1 0 1 0;
}

.chat-list-row-notes:hover {
    -fx-background-color: #07415f;
}

#refresh-button {
    -fx-background-image: url(../img/refresh.png);
    -fx-background-size: 30;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

#refresh-button:hover {
    -fx-opacity: 1;
}

#menu-button {
    -fx-background-image: url(../img/menu.png);
    -fx-background-size: 30;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}

#menu-button:hover {
    -fx-background-image: url(../img/menuRotated.png);
}

#back-button {
    -fx-background-image: url(../img/back.png);
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 30;
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

#back-button:hover {
    -fx-opacity: 1;
}

#send-button {
    -fx-background-image: url(../img/send.png);
    -fx-background-size: 60;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 60;
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

#send-button:hover {
    -fx-opacity: 1;
}

.delete-button {
    -fx-background-image: url(../img/delete.png);
    -fx-background-size: 20;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.delete-button:hover {
    -fx-opacity: 1;
}

.avatar {
    -fx-background-image: url(../img/mainbgBlured.jpg);
    -fx-background-size: 100;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50;
    -fx-border-radius: 100;
}