.simple-button {
    -fx-border-radius: 20;
    -fx-border-color: #c2d4dc;
    -fx-border-width: 1;
    -fx-background-radius: 20;
    -fx-background-color: #b7dff2;
    -fx-text-fill: black;
    -fx-font-size: 16;
}

.simple-button:hover {
    -fx-background-color: #1499ab;
}

.linked-button {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-text-fill: #6e6d6e;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.linked-button:hover {
    -fx-text-fill: #182638;
    -fx-underline: true;
}

.text-field {
    -fx-background-color: #d9eff8;
    -fx-border-color: #c2d4dc;
    -fx-border-width: 2;
    -fx-font-size: 16;
    -fx-prompt-text-fill: #5a5f66;
}

.bg {
    -fx-background-image: url(../img/mainbgBlured.jpg);
}