#menu-button {
    -fx-background-image: url(../img/menuRotated.png);
    -fx-background-size: 30;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
}

#menu-button:hover {
    -fx-background-image: url(../img/menu.png);
}

#delete-avatar-button {
    -fx-background-image: url(../img/delete.png);
    -fx-background-size: 40;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

#delete-avatar-button:hover {
    -fx-opacity: 1;
}

.simple-button {
    -fx-border-radius: 50;
    -fx-border-color: #c2d4dc;
    -fx-border-width: 1;
    -fx-background-radius: 50;
    -fx-background-color: #b7dff2;
    -fx-text-fill: black;
    -fx-font-size: 16;
}

.simple-button:hover {
    -fx-background-color: #1499ab;
}

#logout-button {
    -fx-border-radius: 50;
    -fx-border-color: #c2d4dc;
    -fx-border-width: 1;
    -fx-background-radius: 50;
    -fx-background-color: #f68f8f;
    -fx-text-fill: black;
    -fx-font-size: 12;
}

#logout-button:hover {
    -fx-background-color: #fd0000;
}

.info {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #5a5f66;
}